{"configSettings":[{"appID":"SharedServerToken","serverToken":"OXZ5ETDMJNARLT3S5MIHAMXRIUQO2775"},{"appID":"voiceSDK_en","serverToken":""},{"appID":"537585125124584","serverToken":"KC2FQRWHCLFVPWPLPPL7ZUUVGA5J4GKC"},{"appID":"1727234757643392","serverToken":""},{"appID":"977497036948224","serverToken":"OXZ5ETDMJNARLT3S5MIHAMXRIUQO2775"}]}